.action{
  background-color: #e1e1e1;
  width: 100%;
  min-height: 10vh;
  position: fixed;
  bottom: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: ease-out .4s;
  z-index: 99;
} 

.button-action{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-event{
  background-color: #b4b4b4;
  border: none;
  width: 60px;
  border-radius: 50px;
}

section{
  margin-top: 15px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seguros{
  width: 90%;
  height: 120px;
  border: 1px solid ;
  margin-bottom: 15px;
}

h1{
  padding: 0px;
  margin: 10px;
  text-align: center;
}

p{
  padding: 0px;
  margin: 5px 0px;
  font-size: 1rem;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

button{
  border: 2px solid black;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 5px 10px;
}

img{
  width: 80px;
}

.list{
  display: flex;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  width: 90%;
}

.list-item{
  margin-right: 15px;
  border: 1px solid;
  padding: 10px 20px;
}

.list-item h2{
  font-size: 1.3rem;
}