.action{
  background-color: #e1e1e1;
  width: 100%;
  min-height: 10vh;
  position: fixed;
  bottom: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: ease-out .4s;
}

.button-action{
  height: 30px;
}