::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container{
  width: 255px;
  height: 470px;
  position: relative !important;
  border: 2px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 10px;
}

.action{
  background-color: #cecece;
  width: 255px;
  min-height: 10vh;
  position: sticky;
  bottom: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: ease-out .4s;
  
} 

.button-action{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-event{
  background-color: #ffffff;
  border: none;
  width: 60px;
  border-radius: 50px;
}

section{
  margin-top: 15px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seguros{
  width: 90%;
  height: 120px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #ececec;
}

h1{
  padding: 0px;
  margin: 10px;
  text-align: center;
}

p{
  padding: 0px;
  margin: 5px 0px;
  font-size: 1rem;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

button{
  border: none;
  background-color: #9c9c9c;
  font-size: 1rem;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
}

.button-comparar{
  position: relative;
}

img{
  width: 80px;
}

.list{
  display: flex;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  width: 90%;
}

.list-item{
  margin-right: 15px;
  background-color: #9c9c9c;
  border-radius: 10px;
  padding: 5px 20px;
}

.list-item h2{
  font-size: 1.3rem;
}

.imagen {
  filter: url('../assets/filtro.svg#rojo-a-negro');
  width: 50px;
  margin: 10px;
}


.lds-ripple {
  display: inline-block;
  position: absolute;
  top: -23px;
  left: 5px;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


.scalar {
  animation: escala 1s infinite alternate;
}

@keyframes escala {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.sombra {
  background-color: white;
  animation: sombra 0.7s infinite;
  color: black;
}

@keyframes sombra {
  0% {
    box-shadow: 0px 0px 0px 0px #9063cd;
  }
  50% {
    box-shadow: 0px 0px 0px 5px #9063cd;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #9063cd;
  }
}