<div class="container">
  <section>
    <div class="seguros" *ngFor="let item of seguros;  index as i">
      <h1>{{ item.title }}</h1>
      <p>{{ item.price }}</p>

      <div class="buttons">
        <button *ngIf="i % 2 == 0" class="button-comparar sombra" (click)="onAddItem(item)">
          <div class="lds-ripple"><div></div><div></div></div>
          Comparar
        </button>

        <button *ngIf="i % 2 == 1" class="button-comparar scalar" (click)="onAddItem(item)">
          Comparar
        </button>
        <button>Comprar</button>
      </div>
    </div>
  </section>
  <div
    #action
    class="action"
    >
    <div 
      class="button-action"
      (click)="openActionSheet()"
      (touchmove)="onDrag($event)"
      (touchend)="onDragEnd()"
    >
      <button class="action-event"></button>
    </div>
    <div class="list">
      <div class="list-item" *ngFor="let itemComparate of listToComparete">
        <img src="https://thumbs.dreamstime.com/b/icono-de-signo-interrogaci%C3%B3n-en-estilo-doodle-s%C3%ADmbolo-ayuda-faq-fondo-azul-vector-prueba-227055940.jpg" alt="">
        <h2>{{itemComparate.title}}</h2>
        <h3>{{itemComparate.price}}</h3>
      </div>
    </div>
  </div>
</div>

<app-date-picker></app-date-picker>